---
import Layout from "../layouts/Root.astro";
import { getPhotos } from "../repository/api";
const photos = await getPhotos();
---

<Layout title="포토 - roco.moe">
  <h1 class:list={["text-2xl"]}>사진을 찍고 전시하는 공간</h1>
  <ul>
    {
      photos.map((photo) => (
        <li>
          <img
            src={`${import.meta.env.PUBLIC_CDN}/${photo.Key}`}
            alt={photo.Key}
          />
        </li>
      ))
    }
  </ul>
</Layout>
