---
const { title } = Astro.props;
---

<title>{title}</title>
<link rel="preconnect" href="https://fonts.bunny.net" />
<link
  href="https://fonts.bunny.net/css?family=noto-sans-kr:100,300,400,500,700,900"
  rel="stylesheet"
/>
<link rel="icon" href="favicon.svg" />
<link rel="mask-icon" href="favicon.svg" color="#ffffff" />
<link rel="apple-touch-icon" href="favicon.png" />
<meta name="theme-color" content="#ffffff" />
